.main {
  height: min-100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  min-height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 2em;
  letter-spacing: 1.75px;
  font-weight: bold;
  cursor: default;
}
.title::after {
  content: "";
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 10%;
  height: 5px;
  background-color: #232323;
  transition: all 0.5s ease-in-out;
}
.title:hover::after {
  width: 23%;
}
@media (max-width: 768px) {
  .title {
    font-size: 1.5em; /* Smaller font size for tablets and smaller devices */
  }

  .title::after {
    width: 20%; /* Adjust width for consistency */
  }

  .title:hover::after {
    width: 40%; /* Allow more growth on hover to maintain visual effect */
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.2em; /* Further reduce font size for very small devices */
  }

  .title::after {
    width: 30%; /* Adjust static width for small screens */
  }

  .title:hover::after {
    width: 60%; /* Increase hover width for a pronounced effect */
  }
}
