.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 3em;
  margin: 0;
  letter-spacing: 1px;
}
.subTitle {
  color: #252525d9;
  letter-spacing: 1.5px;
}
.buttonContainer {
  width: 27%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.Pbutton {
  background-color: #252525;
  color: #f1f1f1;
  width: 150px;
  height: 42px;
  padding: 0;
  font-size: 1.2em;
  outline: none;
  border: none;
  border-radius: 2.5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.7px;
}
.Pbutton:hover {
  background-color: beige;
  box-shadow: none;
  color: #252525;
  border: 1px solid #252525;
}

.Sbutton {
  background-color: transparent;
  color: #252525;
  width: 150px;
  height: 42px;
  padding: 0;
  font-size: 1.2em;
  outline: none;
  border: none;
  border-radius: 2.5px;
  border: 1px solid #252525;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease-in-out;

  letter-spacing: 0.7px;
}
.Sbutton:hover {
  background-color: #252525;
  color: #f1f1f1;
  border: none;
  box-shadow: none;
}
.link {
  color: inherit;
}
@media (max-width: 768px) {
  .title,
  .subTitle {
    text-align: center; /* Centering text for smaller screens */
  }

  .title {
    font-size: 2em; /* Smaller font size for smaller screens */
  }

  .buttonContainer {
    width: 90%; /* Increasing width on smaller screens for better use of space */
  }

  .Pbutton,
  .Sbutton {
    width: 100%; /* Full width buttons on smaller screens */
    margin: 5px 0; /* Adds margin for vertical spacing */
    font-size: 1em; /* Smaller font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .container,
  .main {
    width: 95vw; /* Increase width for very small screens */
  }

  .title {
    font-size: 1.5em; /* Even smaller font size for very small screens */
  }
}
